body{
  background-color: #444A56 !important;
}

#homeComp{
  background-color: #444A56;
  color:white;
  padding: 50px;
}

.nav-link{
  color: white !important;
  font-size: 1.2rem !important;
}

li .nav-item {
  padding: 10px !important;
}

/* Header */
#brand-name{
  color: white;
  margin-top: 20px;
}

/* Home */
#statement{
  font-size: 1.2rem;
}

#profile{
  width: 300px;
  border-radius: 13px;
}

/* Contact */
.form-input, 
.contacts {
  color: white;
  padding: 10px;
  font-size: 1.2rem;
}

form{
  margin: 4rem 2rem;
}

/* Project */
.card {
  margin: 2rem 0;
  padding: 10px;
}

.card-img-top {
  width: 30% !important;
}
.contacts a{
  color: rgb(223, 202, 202);
}