
  @import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300;400;700&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body, html{
  /* background-color: #444A56 !important; */
  background-color: #2F3D52 !important;
  color: #F5F5F5 !important;
  font-family: 'Open Sans', sans-serif !important;
}

p {
  margin-bottom: 0.5rem !important;
}

/* Header */
#brand_name{
  /* color: white; */
  background-color: #4D5C77;
  width: 100%;
  margin: 0;
  padding: 2rem 4rem;

}

/* h1.brand_surname, 
h1.brand_title{
  padding: 0;
  margin: 0;
} */

h1 {
  letter-spacing: 2px;
}

.brand_title_container, 
.brand_surname_container{
  margin-bottom: 0;
  /* display: flex; */
}

/* .brand_surname_container{
  justify-content: center;

} */



#brand_title{
  margin-bottom: 0;
  font-family: 'Battambang', cursive;
  padding-left: 2rem;
  padding-right: 2rem;

}

#brand_subtitle{
  font-size: 1.75rem !important;
  letter-spacing: 2px;
  margin-bottom: 6px;  /* Adjust when changing fonts*/ 
  padding-left: 2rem;
  padding-right: 2rem;
}
 
.brand_flex_cont {
  align-items: end;
}


/* Navigation */
.nav-link{
  color: #F5F5F5 !important;
  font-size: 1.25rem !important;
}

.nav-item {
  /* padding: 0 1rem 0; */
  color: #F5F5F5;
  /* background-color: #46536A; */
  background-color: #3E495E;
  transition: #3E495E 0.3s ease;
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  padding-right: 2rem;
  padding-left: 2rem;

  /* background-color: #4D5C77; */
  /* margin-left: 2rem; */
}

.nav-item:hover,
.nav-item.active {
  background-color: #46536A;
}

/* .not_active{
  background-color: #3E495E;
} */

/* .nav-link:hover {
  background-color:azure ;
} */


.navigation{
  width: 90% !important;
  margin: 3rem auto 0 auto;
}


.nav-tabs, .nav-link {
  border: none !important;
}

.nav-item{
  margin-right: 1rem;
}


/* .navigation ul:last-child .nav-link{
  padding-right: 0;
} */

/* Home */
.main_container{
  background-color: #46536A;
  color: #F5F5F5 !important;
  padding: 0rem 6rem 2rem 6rem;
  width: 90% !important;
  margin: 0rem auto 3rem auto;
}


/* .about{
  width: 50% !important;
} */

.about_description{
  margin-bottom: 2rem;
}

#developer{
  font-weight: 500;
  font-size: 1.3rem;
}

/* Header */
/* #brand-name{
  color: white;
  margin-top: 20px auto 20px !important;
  width: 90%;
} */

/* Home */
h2.home{
  text-align: center;
  font-family: 'Battambang', cursive;


}

#aspiring_dev{
  text-align: center;
  margin-bottom: 2rem !important;
}

#statement{
  font-size: 1.2rem;
}

#profile_img{
  width: 150px;
  /* opacity: 0.5; */
  padding: 0;
  border-radius: 50%;
}

.prof_image_container{
    width: 150px;
    /* border-radius: 50%;*/
    /* margin: 1rem auto 1rem;  */
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.tech_icons{
  color: #838EA0;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
}

/* Contact */
 
.contacts_container{
  padding: 3rem 0;
  height: 60vh;
}


.get_contact{
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-family: 'Battambang', cursive;
  padding-bottom: 2rem !important;
}



.contacts {
  color: #F5F5F5 !important;
  padding: 10px;
  font-size: 1.2rem;
}

.contact_icon {
  padding-left: 1rem;
  font-size: 2rem;
}

.contacts a:hover{
  color: white;
}

/* form{
  margin: 4rem 2rem;
} */

/* Project Gallery  */
.projects_container{
  padding-top: 2rem;
}

/* Project */
.card {
  margin: 2rem 0;
  padding: 10px;
}


h5.card-title{
  color: #2F3D52;
  font-family: 'Battambang', cursive;
}

.card-body{
  color: #2F3D52 !important;
}



.card-img-top {
  width: 30% !important;
}

.img_container{
  padding: 1rem !important;
}

.project_buttons_cont{
  margin-top: 1.5rem;
}

.contacts a{
  color: rgb(223, 202, 202);
}



/* Footer */
footer p{
  color: #F5F5F5 !important;
  font-size: 1.25rem;
  width: 90%;
  margin: 1rem auto 1rem;
}

/* Media queries */
@media screen and (max-width: 620px){
  .tech_icons{
    font-size: 1rem;
  }

  .nav-item{
    padding: 0 0.5rem;
    margin-right: 0.5rem;
  }

  .nav-link{
    font-size: 1rem !important;
  }

}




@media screen and (max-width: 960px){
  .main_container{
    padding: 0rem 1rem 1rem 1rem !important;

  }
}

